.Form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.search {
    flex-grow: 2;
    border: none;
    background-color: rgb(255, 255, 255, 0.6);
    margin: 5px 0px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.Form button {
    border-radius: 10px;
    padding: 6px;
    margin: 8px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    transition: ease-in 100ms;
}

.Form button:hover {
    background-color: rgb(0, 255, 255, 0.5);
}